
@if (User.Identity.IsAuthenticated)
{
    <html>
    <head>
        <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
    </head>
    <body>


        <p>@User.Identity.Name</p>

       
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Logout" />
        </form>

    </body>

</html>
}
